In [1]:
import numpy as np
import pandas as pd
from functools import reduce

C:\Users\keypg\Anaconda3\envs\ml\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\keypg\Anaconda3\envs\ml\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\keypg\Anaconda3\envs\ml\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %

In [2]:
df = pd.read_csv('./dataset/GOOG.csv')
df.head(n=5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-09-04,1204.270020,1212.989990,1192.500000,1197.000000,1197.000000,1831000
1,2018-09-05,1193.800049,1199.010010,1162.000000,1186.479980,1186.479980,2061300
2,2018-09-06,1186.300049,1186.300049,1152.000000,1171.439941,1171.439941,1888500
3,2018-09-07,1158.670044,1175.260010,1157.214966,1164.829956,1164.829956,1401300
4,2018-09-10,1172.189941,1174.540039,1160.109985,1164.640015,1164.640015,1115400

In [6]:
stock = df.drop(columns=['Date', 'Adj Close'])
#stocks = stocks.groupby(['Ticker'])
stock.count()

Open      63
High      63
Low       63
Close     63
Volume    63
dtype: int64

In [7]:
print(df.shape, stock)

(63, 7)            Open         High          Low        Close   Volume
0   1204.270020  1212.989990  1192.500000  1197.000000  1831000
1   1193.800049  1199.010010  1162.000000  1186.479980  2061300
2   1186.300049  1186.300049  1152.000000  1171.439941  1888500
3   1158.670044  1175.260010  1157.214966  1164.829956  1401300
4   1172.189941  1174.540039  1160.109985  1164.640015  1115400
..          ...          ...          ...          ...      ...
58  1038.349976  1049.310059  1033.910034  1048.619995  1942800
59  1041.000000  1057.579956  1038.489990  1044.410034  1803200
60  1048.760010  1086.839966  1035.760010  1086.229980  2475400
61  1076.079956  1094.244995  1076.000000  1088.300049  1468900
62  1089.069946  1095.569946  1077.880005  1094.430054  2580200

[63 rows x 5 columns]

In [9]:
stock = stock.div([100, 100, 100, 100, 100000]).to_numpy().reshape((9, 7, 5)) # divide for normalize dataset * don't forgot to divide the input when use with real data
print(f'shape : {stock.shape}')

shape : (9, 7, 5)

In [14]:
features, labels = stock, stock[:,:,3]*100 # label is a close price, multiply by 100 to make it back to original range

In [15]:
print(f'features shape: {features.shape}\nlabels shape: {labels.shape}')

features shape: (9, 7, 5)
labels shape: (9, 7)

In [16]:
print(features[0], features[0].shape)
print('\n\n', labels[0], labels[0].shape)

[[12.0427002  12.1298999  11.925      11.97       18.31      ]
 [11.93800049 11.9901001  11.62       11.8647998  20.613     ]
 [11.86300049 11.86300049 11.52       11.71439941 18.885     ]
 [11.58670044 11.7526001  11.57214966 11.64829956 14.013     ]
 [11.72189941 11.74540039 11.60109985 11.64640015 11.154     ]
 [11.61630005 11.78680054 11.5623999  11.77359985 12.093     ]
 [11.72719971 11.78609985 11.58359985 11.62819946 12.955     ]] (7, 5)


 [1197.       1186.47998  1171.439941 1164.829956 1164.640015 1177.359985
 1162.819946] (7,)

In [17]:
# save several arrays into compressed .npz archive
with open('dataset/test_stock_preprocessed.npz', 'wb') as f:
    np.savez(f, features=features, labels=labels)